html {
  font-family: 'Quicksand', sans-serif;

}

.chat {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  min-width: 100vw;
  min-height: 100vh;
}

.chat__sidebar {
  /*border: 1px solid red;*/
  border: 2px solid black;
  background-image: linear-gradient(123deg, rgb(143, 87, 223), rgb(32, 190, 218));
  flex: 1 1 auto;
}

.chat__main {
  /*border: 1px solid red;*/
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

#messages {
  /*border: 1px solid red;*/
  list-style-type: none;
  flex: 30 1 auto;
}

.chat__footer {
  /*border: 1px solid red;*/
  flex: .7 1 auto;
  /*align-self: flex-end;*/
  justify-content: space-around;
  background-color: rgb(186, 186, 186);
  padding: 5px;
  display: flex;
}

#message-form {
  flex: 5 1 auto;
  display: flex;
}

input {
  font-size: 2vh;
  flex: 2 1 auto;
  margin:2px 3px 2px 1px;
}

#send-location {
  min-width: 12vw;
  flex: 0.1 1 auto;
}

#people {
  text-align: center;
  /*border: 1px solid red;*/
}

h3 {
  margin: 0;
  display: inline-block;
  font-size: 3.1vh;
  font-weight: 900;
}

#people {
  display: block;
  text-align: center;
}

button {
  font-size: 1.5vh;
  margin: 2px 3px 2px 3px;
  background-color: rgb(70, 150, 245);
}

span {
  color: rgb(167, 157, 152);
}

#send-location:disabled {
  color: black;
}
